# copy this file and rename as .env
ORACLE_USERNAME=uni_ml_report
ORACLE_PASSWORD=zhvVQsgZFIZc
ORACLE_HOSTNAME=10.21.66.107
ORACLE_PORT=1521
ORACLE_SERVICE=DWH
TRINO_USERNAME=username
TRINO_PASSWORD=password
TRINO_HOSTNAME=url
TRINO_PORT=8443
TRINO_SERVICE=iceberg
LOG_LEVEL=INFO