# copy this file and rename as .env
ORACLE_USERNAME=username
ORACLE_PASSWORD=password
ORACLE_HOSTNAME=ip_address
ORACLE_PORT=1521
ORACLE_SERVICE=service_name
TRINO_USERNAME=username
TRINO_PASSWORD=password
TRINO_HOSTNAME=url
TRINO_PORT=8443
TRINO_SERVICE=iceberg
LOG_LEVEL=INFO